body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(146, 146, 146);
    width: 100%;
    height: 100%;
}

#pencil{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 750px;
    background-color: white;
    margin-right: 25px;
    margin-top: 50px;
}

#tablet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid goldenrod;
    border-radius: 15px;
    height: 840px; 
    width: 600px;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-size: 200%;
    background-color: rgb(15, 86, 179);
    color: rgb(255, 255, 255);
    height: 75px;
    width: 550px;
}

#camera{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#screen {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid--rows), 1fr);
    grid-gap: 0px;
    background-color: rgb(206, 206, 214);
    height: 550px;
    width: 550px;
}

.cell {
    border: 0.5px solid white;
    background-color: rgb(206, 206, 214);
}

#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(15, 86, 179);
    height: 100px;
    width: 550px;
    margin-bottom: 10px;

}

img{
    width: 80%;
}



#home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(95, 95, 95);
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-top: 5px; 
}

#circle{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
    border: 1px solid black; 
    border-radius: 2px;
}


button {
    font-family: 'Lobster Two', cursive;
    font-size: 100%;
    text-align: center;
    vertical-align: center;
    height: 75px;
    width: 75px;
    border-radius: 40px;
    color:rgb(0, 0, 0);
}



:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
