body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(146, 146, 146);
    width: 100%;
    height: 90vh;
}


#tablet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid goldenrod;
    border-radius: 15px;
    aspect-ratio: .6785/.95
}

#top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-size: 100%;
    background-color: rgb(15, 86, 179);
    color: rgb(255, 255, 255);
    height: 10%;
    width: 91.5%;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    height: 100%;
}

#camera{
    background-color: black;
    aspect-ratio: 1;
    height: 2.5%;
    border-radius: 15px;
    margin-bottom: 10px;
}

#screen {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid--rows), 1fr);
    grid-gap: 0px;
    background-color: rgb(206, 206, 214);
    height: 66%;
    width: 91.6%;
}

.cell {
    border: 0.5px solid white;
    background-color: rgb(206, 206, 214);
}

#controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(15, 86, 179);
    height: 10%;
    width: 91.5%;
    margin-bottom: 10px;

}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(95, 95, 95);
    height: 4%;
    width: 6%;
    border-radius: 20px;
    margin-top: 5px; 
}

#circle{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
    border: 1px solid black; 
    border-radius: 2px;
}


button {
    font-family: 'Lobster Two', cursive;
    font-size: 100%;
    text-align: center;
    vertical-align: center;
    height: 76%;
    width: 12%;
    border-radius: 40px;
    color:rgb(0, 0, 0);
}



:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
